@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-auto;
  }
}

@layer components {
  .hoverno {
    @apply hover:cursor-default;
  }
  .sectionMaxWidth {
    @apply w-[100%] max-w-screen-2xl col-start-2 col-end-3;
  }
  .buttonDefault {
    @apply text-3xl px-16 py-2;
  }
  .textSizes {
    @apply text-5xl md:text-8xl lg:text-9xl;
  }
}
